@font-face
{
	font-family: STXINGKA;
	src:url('../../font/STXINGKA.TTF');
}
@font-face
{
	font-family: SIMYOU;
	src:url('../../font/SIMYOU.TTF');
}
html {
    font-family: sans-serif; 
    line-height: 1.15; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
body
{
	margin: 0 auto;
	padding:0;
	width: 1000px;
	background-image: url('../../images/activity_bg.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
#list
{
	position: absolute;
	height:330px;
	width:11000px;
}
#Content
{
	margin:50px 0 0 0;
	overflow: hidden;
	height:330px;
	width:1000px;
	position: relative;
}
.image img
{
	z-index:1;
	float:right;
	width:1000px;
	height:330px;
}
#Buttons
{
	float: right;
}
#Buttons img
{
	float: left;
}
#news
{
	position: relative;
	color: LightGray;
	float: right;
	top: 100px;
	/*right:-100px;*/
	width: 400px;
}
.s
{
	display: block;
	text-decoration:none;
	color: LightGray;
	font-size: 18px;
	font-family: SIMYOU; 
    line-height: 1.15;
    padding-top: 4px;
}
.s:hover
{
	color:white;
}

#benefit
{
	color: LightGray;
	float: left;
	width: 600px;
	position:relative;
	top:120px;
	left:-100px;
	/*margin-top:38px;*/
}
.BenefitAct
{
	width:300px;
	height: 200px;
	float:left;
	text-align: center;
	font-size: 20px;
	font-family: SIMYOU;
}
.titles
{
	font-size: 30px;
	font-family: STKaiti;
	color: LightGray;
}
.title
{
	position:absolute;
	clear:both;
	top: 214px;
	width:400px;
	font-size: 25px;
	color: white;
	background-color: rgba(69,69,69,0.8);
	font-family: STKaiti;
}
.subtitle
{
	top: 270px;
	position:absolute;
	padding:10px;
	font-size: 18px;
	font-family: SIMYOU;
	background-color: gray;
	color: white;
	background:rgba(0,0,0,0.5);
}
.image
{
	float:left;
	z-index:1;
	position:relative;
	height:330px;
	width:1000px;
}
#information
{
	position: absolute;
	width:1000px;
	margin-top:350px;
}
.info
{
	margin-left: 40px;
	float: left;
	margin-top: 10px;
}