@font-face
{
	font-family: SIMYOU;
	src:url('../../font/SIMYOU.TTF');
}
html {
    font-family: sans-serif; 
    line-height: 1.15; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
body
{
	margin: 0 auto;
	padding:0;
	width: 1000px;
	background-image: url('../../images/rent_bg.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
#menu
{
	margin: 0;
	padding:0;
}
#menu li
{
	width:200px;
	list-style-type:none;
	text-align:center;
	float:left;
	font-family: SIMYOU;
	font-size: 20px;
	color: LightGray;
	background:rgba(0,0,0,0.5);
}
#menu li img
{
	width: 150px;
	height:100px;
}
#menu li p
{
	margin-top: 0px;
	margin-bottom: 50px;
	padding:0;
}
#list img
{
	width: 250px;
	height: 170px;
}
#list
{
	width:300px;
	margin-left:33px;
	margin-top: 33px; 
	color: LightGray;
	font-family: SIMYOU;
	font-size: 20px;
	text-align:center;
	float: left;
}
#content
{
	position: absolute;
	width:1000px;
	height:100%;
	background: rgba(0,0,0,0.5);
	border-radius: 1em;
}
