html {
    font-family: sans-serif; 
    line-height: 1.15; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
body
{
	margin: 0 auto;
	padding:0;
	width: 1000px;
	background-color: black;
}
#menu
{
	margin: 0;
	padding:0;
}
#menu li
{
	width:200px;
	list-style-type:none;
	text-align:center;
	float:left;
	background:#999;
	color:#FFF;
}
#menu li img
{
	width: 200px;
	height:120px;
}