body
{
    margin: 0 auto;
    padding:0;
    width: 1000px;
    background-image: url('../../images/sale.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color: LightGray;
}
@font-face
{
    font-family: SIMYOU;
    src:url('../../font/SIMYOU.TTF');
}
html {
    font-family: sans-serif; 
    line-height: 1.15; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}
span
{
    font-family:SIMYOU;
    font-size: 18px; 
}
.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
    padding: 16px;
}

.big-radio:checked + label:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}
.button-holder
{
    margin-top:100px;
    padding-top: 50px;
}
.price,.contact,.upload
{
    margin-top:40px;
}
#TargetPrice,#number
{
    width:300px;
    height:30px;
    border-radius:0.5em;
}
#UploadPicture
{
    border-radius:0.5em;
    padding:5px;
    margin-top:20px;
    color:white;
    background-color:#696969;
}
#check
{
    width:100px;
    font-size: 20px;
    border-radius:1em;
    padding:5px;
    color:white;
    background-color:#696969;
    margin-left: 100px;
    margin-top: 60px;
}
#SaleBicycle
{
    background:rgba(0,0,0,0.5);
    border-radius: 1em;
    margin-bottom: 50px;
}