/*顶部*/
.header{
    background-color: #000;
    height:120px;
}

.header_nav{
    height: 120px;
}

.header_nav ul{
    text-align: center;
    list-style: none;
}

.header_nav ul li{
    display:inline-block;
    line-height:120px;

    /* float:right;*/
    margin-right:10px;
    height:inherit;
}
.header_nav ul li a{
    line-height: 120px;
    text-decoration: none;
    display: inline-block;
    height:inherit;
    font-size: 20px;
    color:#fff;
}
.header_nav ul li.logo{
    float:left;
}
